In [34]:
import pandas as pd
import numpy as np
auto_mg_df = pd.DataFrame(pd.read_table("/Users/sam/All-Program/App-DataSet/IIT-Code/Data-Mining/datasets/auto-mpg.tab"))
auto_mg_df = auto_mg_df.ix[2:]

In [ ]:
from matplotlib import pyplot as plt
plt.figure()
plt.plot(auto_mg_df['mpg'], auto_mg_df['weight'], ''0)

In [93]:
auto_mg_df_att = auto_mg_df.iloc[:,0:len(auto_mg_df_1.columns)-1]
auto_mg_df_att = auto_mg_df_att.astype(float)

array_with_nan = np.array(auto_mg_df_att['horsepower'])
indices = np.where(np.array(auto_mg_df_att['horsepower']) == "?")[0]
array_with_nan[indices] = np.nan
print (np.sum(array_with_nan))
# print (array_with_nan)
auto_mg_df_att['horsepower'] = array_with_nan
# auto_mg_df_att.dtypes
auto_mg_df_att.describe()

nan

/Users/sam/App-Setup/CondaENV/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
/Users/sam/App-Setup/CondaENV/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,NaN,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,NaN,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,NaN,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [97]:
hrspwr_mean = auto_mg_df_att['horsepower'].mean()
array_with_nan_cpy = array_with_nan.copy()
# print (array_with_nan)
array_without_nan = [float(val) for val in np.array(array_with_nan_cpy, dtype='str') if val!='nan']
# print (array_without_nan)
print ('For array without NaN, The count of array is (%s), sum of the array is (%s), and the mean is (%s): '%(len(array_without_nan), np.sum(array_without_nan), np.sum(array_without_nan)/len(array_without_nan)))

array_with_mean = array_with_nan_cpy
nan_indices = (np.where(np.array(array_with_nan_cpy, dtype='str')=='nan'))
array_with_mean[nan_indices] = hrspwr_mean
print ('For array with mean replaced, The count of array is (%s), sum of the array is (%s), and the mean is (%s): '%(len(array_with_mean), np.sum(array_with_mean), np.sum(array_with_mean)/len(array_with_mean)))

# print (array_with_mean)
auto_mg_df_att['horsepower'] = array_with_mean

# auto_mg_df_att

auto_mg_df_att.describe()

For array without NaN, The count of array is (392), sum of the array is (40952.0), and the mean is (104.469387755):
For array with mean replaced, The count of array is (398), sum of the array is (41578.8163265), and the mean is (104.469387755):

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.199187,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,76.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,95.000000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,125.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000